<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447083298587-da9ibs9gqnfqkvsqif4hvf6aqfgsnjja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447083298587-da9ibs9gqnfqkvsqif4hvf6aqfgsnjja</string>
	<key>API_KEY</key>
	<string>AIzaSyBB1bRm7R4RNBMUPva1Ti0a0cTtx7mUBsw</string>
	<key>GCM_SENDER_ID</key>
	<string>447083298587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.posFlutterClient</string>
	<key>PROJECT_ID</key>
	<string>pos-flutter-client</string>
	<key>STORAGE_BUCKET</key>
	<string>pos-flutter-client.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447083298587:ios:87420d27140bb275851dbe</string>
</dict>
</plist>